@model IEnumerable<Trab.Models.Turma>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cadeira)
            </th>
            <th>
                Turma
            </th>
            <th>
                Dia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasFim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cadeira)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaSemana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorarioInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.Email)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                    <a asp-controller="AlunosTurma" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">
                        Ver Alunos
                    </a>
                    @if (item.PresencasAtivas == false)
                    {
                        <a asp-action="AtivarPresencas" asp-route-id="@item.Id" class="btn btn-success">
                            Ativar Presenças
                        </a>
                    }
					else
					{
						<a asp-action="AtivarPresencas" asp-route-id="@item.Id" class="btn btn-danger">
							Desativar Presenças
						</a>
					}
                
            </td>
        </tr>
}
    </tbody>
</table>
